@media screen and (max-width: 910px) {
    header nav.navbar  ul.connect-us{
        font-size: 20px;
        order: 1;
    }
    header nav.navbar ul.info{
      display: none;
    }
    section.pizza-list h2.title {
        width: 100%;
        font-size: 27px;
        display: flex;
        justify-content: center;
    } 
    section.pizza-list ul.food-list {
        display: flex;
        align-items: center;
        /* width: 829px; */
        flex-wrap: wrap;
    }
    section.pizza-list ul.food-list li {
        margin: 15px;
    }
    section.form form.detail {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    section.form form.detail button {
        font-size: 12px;
        margin-top: 25px;
    }
    section.form .img-car {
      max-width: 100%;
    }
    footer nav.navbar {
        max-width: 80%;
    }
    /* .active{
        width: 100%;
        height: 100vh;
        background-color: #ECEEF7;
        display: grid;
        place-items: center;
    } */
}
@media screen and (max-width: 576px) {
    header nav.navbar{
        padding: 30px 0;
    }
    header nav .menu-btn{
        order: 2;
        color: #000;
        font-size: 20px;
        display: block;
    }
    header nav.navbar  ul.connect-us{
        background: aliceblue;
        position: fixed;
        right: -100%;
        height: calc( 100vh - 100px);
        top: 125px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s ease-in;
    }
    #click:checked ~ ul.connect-us{
        right: 0%;
    }
    header nav.navbar  ul.connect-us li{
        margin: 40px 0;
    }
    header nav.navbar  ul.connect-us li a{
        font-size: 20px;
        transition: 0.05s;
    }
    header nav.navbar  ul.connect-us li a:hover{
        font-size: 25px;
        color: #59AAF1;
        background-color: #fff;
    }
    header nav.navbar ul.info{
      display: none;
    }
    section.home h2.title {
        transform: translateY(150px);
        font-size: 45px;
    }
    section.home p.discription {
        transform: translateY(150px);
    }
    section.home .img-pizza {
        transform: translateY(100px);
    }
    
    img.beg {
        float: right;
        width: 200px;
        height: 150px;
    }
    section.pizza-list h2.title {
        width: 100%;
        font-size: 27px;
        display: flex;
        justify-content: center;
    } 
    section.pizza-list {
    padding: 90px 0;
    }
    section.pizza-list ul.food-list{
        display: flex;
        flex-wrap: wrap;
    }
    section.pizza-list ul.food-list li {
        margin: 20px 0 20px 15px;
    }
    figure.scroll-img {
        height: 200px;
    }
    figure.scroll-img article.insta-addres {
        max-width: 48%;
        max-height: 40%;
    }
    figure.scroll-img article.insta-addres h2 {
        padding: 5%;
        font-size: 15px;
    }
    section.form form.detail {
        margin-top: 45px;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    section.form form.detail input {
        margin: 20px;
    }
    footer nav.navbar {
        max-width: 80%;
        font-size: 10px;
    }
}